@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
    background-color: theme(colors.gray.900);
    color: theme(colors.gray.100);
  }

  body {
    font-family: system-ui, sans-serif;
  }
}
